<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="{{'APP_SEARCH' | translate}}" />
      </span>
      <button pTooltip="{{'APP_SEARCHFILTER' | translate}}" pButton pRipple label="" icon="pi pi-search-plus"
        class="p-button-secondary" (click)="adFilter.toggle($event)"></button>
    </ng-template>
    <ng-template pTemplate="right">
      <span class="newbtnpadding"><button pTooltip="{{'APP_ADD' | translate}}"
          *ngIf="isGranted('SCR_WAREHOUSE',actionType.allowAdd)" pButton pRipple label="{{'APP_ADD' | translate}}"
          icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2" (click)="addWareHouse()"></button></span>
    </ng-template>
  </p-toolbar>
  <div style="overflow: auto;">
    <p-table #dt responsiveLayout="stack" selectionMode="single" [value]="wareHouseModel" [paginator]="true" [rows]="10" [scrollable]="true" scrollHeight="flex" [responsive]="true" [globalFilterFields]="['email','name','address','contactNo']" dataKey="id"
      styleClass="p-datatable-responsive-demo p-datatable-gridlines text" (onRowExpand)="listExpentation($event)">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">{{"WAREHOUSE_NAME" | translate}}<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="email">{{"WAREHOUSE_EMAIL" | translate}}<p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="contactNo">{{"WAREHOUSE_CONTACTNO" | translate}}<p-sortIcon field="contactNo">
            </p-sortIcon>
          </th>
          <th pSortableColumn="address">{{"WAREHOUSE_ADDRESS" | translate}}<p-sortIcon field="address"></p-sortIcon>
          </th>
          <th>{{"APP_ACTION" | translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr [pSelectableRow]="item">
          <td><button type="button" pButton pRipple [pRowToggler]="item"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button> {{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.contactNo}}</td>
          <td>{{item.address}}</td>
          <td>
            <span class="pl-2 pr-2">
              <p-contextMenu triggerEvent="click" appendTo="body" [target]="dt3" [model]="gridDetailsContextMenu">
              </p-contextMenu>
              <button pButton pRipple type="button" icon="pi pi-ellipsis-v" #dt3
                (click)="getGridDetailsContextMenu(item)" class="p-button-rounded p-button-text"></button>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-item>
        <tr>
          <td colspan="7">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <p-table [columns]="cols" [value]="location" [style]="{width: '75vw' , height:'10vw'}" dataKey="id"
                    expandableRows="true" rowExpandMode="single1" [responsive]="true" [scrollable]="false" dataKey="id"
                    scrollHeight="flex">

                    <ng-template pTemplate="header">
        <tr>
          <th>{{"WAREHOUSE_NAME" | translate}}</th>
          <th>{{"WAREHOUSE_EMAIL" | translate}}</th>
          <th>{{"WAREHOUSE_CONTACTNO" | translate}}</th>
          <th>{{"WAREHOUSE_ADDRESS"| translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.contactNo}}</td>
          <td>{{item.address}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div> 
<p-overlayPanel #adFilter [style]="{width: '60%'}">
  <ng-template pTemplate>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field  p-col-6 p-md-4">
        <label for="name">{{"WAREHOUSE_NAME" | translate}}</label>
        <input id="name" type="text" [(ngModel)]="wareHouseForm.name" placeholder="{{ 'WAREHOUSE_NAME' | translate}}"
          class="p-invalid" pInputText />
      </div>
      <div class="p-field  p-col-6 p-md-4">
        <label for="email">{{"WAREHOUSE_EMAIL" | translate}}</label>
        <input id="email" type="text" [(ngModel)]="wareHouseForm.email" placeholder="{{ 'WAREHOUSE_EMAIL' | translate}}"
          class="p-invalid" pInputText />
      </div>
      <div class="p-field  p-col-6 p-md-4">
        <label for="contactNo">{{"WAREHOUSE_CONTACTNO" | translate}}</label>
        <input id="contactNo" type="number" [(ngModel)]="wareHouseForm.contactNo"
          placeholder="{{ 'WAREHOUSE_CONTACTNO' | translate}}" class="p-invalid" pInputText />
      </div>
      <div class="p-field  p-col-6 p-md-4">
        <label for="address">{{"WAREHOUSE_ADDRESS" | translate}}</label>
        <input id="address" type="text" [(ngModel)]="wareHouseForm.address"
          placeholder="{{ 'WAREHOUSE_ADDRESS' | translate}}" class="p-invalid" pInputText />
      </div>

      <div class="p-field p-col-6 p-md-9">
      </div>
      <p-divider type="dashed" class="w-full"></p-divider>
      <div class="p-field p-col-6 p-md-2">
        <button pButton pRipple label="{{'APP_SEARCH' | translate}}" icon="pi pi-search"
          class="p-button-rounded p-button-success p-mr-2" (click)="adFilter.hide();getSearch();"></button>
      </div>
      <div class="p-field p-col-6 p-md-2">
        <button pButton pRipple label="{{'APP_CLEAR' | translate}}" icon="pi pi-times-circle"
          class="p-button-rounded p-button-warning  p-mr-2" (click)="clearSearchCriteria()"></button>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
<p-confirmDialog header="{{'APP_DELETE_CONFIRM_HDR' | translate}}" acceptLabel="{{'APP_OK' | translate}}"
  rejectLabel="{{'APP_CANCEL' | translate}}" icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-rounded p-button-danger" rejectButtonStyleClass="p-button-rounded">
</p-confirmDialog>
</div>