::ng-deep .p-picklist-buttons.p-picklist-source-controls.ng-star-inserted {
    display: none;
}

::ng-deep .p-picklist-buttons.p-picklist-target-controls.ng-star-inserted {
    display: none;
}


.mat-tab-group {
    margin-bottom: 48px;
  }
  
  :host ::ng-deep .p-button {
      margin: 0 .5rem 0 0;
      min-width: 10rem;
  }
  
  p {
      margin: 0;
  }
  
  .confirmation-content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  :host ::ng-deep .p-dialog .p-button {
      min-width: 6rem;
  }
  
  .invoice-header {
      display: flex;
      padding: 5px;
      background-color: gainsboro;
      width: 500px;
      margin-left: 20px;
      margin-right:20px;
  }
  .invoice-header > div {
      padding: 5px;
      width: 25%;
  }
  
  .invoice-item{
      display: flex;
      padding: 5px;
      width: 500px;
  }
  
  .invoice-item > div {
      padding-left: 5px;
      padding-right: 5px;
      width: 25%;
  }
  
  .p-calendar-w-btn .p-datepicker-trigger{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  .p-sidebar-right {
      top: 0;
      right: 0;
      width: 50rem !important;
      height: 100%;
  }