<div class="flex flex-col flex-auto w-full  min-w-0">
    <p-toolbar>
        <ng-template pTemplate="right">
            <span class="newbtnpadding">
                <button dir="ltr" pButton type="button" label="{{'APP_SAVE' | translate}}" icon="pi pi-save"
                    (click)="createOredit()" class="p-button-rounded"></button>
            </span>
            <span class="newbtnpadding pl-2  pr-2">
                <button dir="ltr" pButton type="button" label="{{'APP_CANCEL' | translate}}" icon="pi pi-ban"
                    class="p-button-rounded p-button-danger" (click)="cancelAddEdit()"></button>
            </span>
        </ng-template>
    </p-toolbar>
    <p-card>
        <div class="p-fluid " [dir]="lang === 'ar' ? 'rtl' : 'ltr'" style="text-align: start;">
            <div class="row">
                <div class="col-md-2">
                    <label for="txtPoNo">{{"PURCHASE_NO" | translate}}</label>
                    <input pInputText id="txtPoNo" placeholder="{{'PURCHASE_NO' | translate}}"
                        (blur)="loadVendor($event)" [(ngModel)]="purchaseorderInfo.purchaseRequestNo">
                </div>
                <div class="col-md-3">
                    <label for="LedgerCode">{{"PURCHASE_LEDGER" | translate}}</label>
                    <p-autoComplete [showEmptyMessage]="true" [suggestions]="filteredLedgers"
                        (completeMethod)="filterLedgerAccounts($event)" field="ledgerDescCode" [minLength]="0"
                        [forceSelection]="true" emptyMessage="{{'APP_NODATA'|translate}}" [(ngModel)]="selectedLedger"
                        placeholder="{{'PURCHASE_LEDGER' | translate}}">
                    </p-autoComplete>
                </div>
                <div class="col-md-3">
                    <label for="CostCenterCode">{{"PURCHASE_COSTCENTERCODE" | translate}}</label>
                    <p-dropdown id="CostCenterCode" [options]="costCenters" [(ngModel)]="selectCostCenterCode "
                        placeholder="{{ 'PURCHASE_COSTCENTERCODE' | translate}}" optionLabel="codeDescription">
                    </p-dropdown>

                </div>
                <div class="col-md-4">
                    <label for="txtRemarks">{{"APP_REMARKS" | translate}}</label>
                    <input pInputText id="txtRemarks" placeholder="{{'APP_REMARKS' | translate}}"
                        [(ngModel)]="purchaseorderInfo.remarks">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  pt-4">
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <span class="p-input-icon-left" style="padding: 5px;width: 200px;">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="grnDt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="{{'APP_SEARCH' | translate}}" />
                            </span>
                            <div style="padding: 5px;width: 300px; font-weight: bolder;">
                                <span>{{"PURCHASE_VENDOR" | translate}} : {{selectedVendor.name}}</span>
                            </div>
                            <div style="padding: 5px;width: 200px; font-weight: bolder;">
                                <span>{{"TOTAL_QUANTITY" | translate}} : {{purchaseOrderTotelQuantity| currency:'
                                    ':'symbol':'0.0-0'}}</span>
                            </div>
                            <div style="padding: 5px;width: 250px; font-weight: bolder;">
                                <span>{{"TOTAL_AMOUNT" | translate}} : {{purchaseOrderTotelAmount| currency:'
                                    ':'symbol':'0.0-0'}}</span>
                            </div>
                        </ng-template>
                    </p-toolbar>
                    <p-table #grnDt [value]="purchaseorderInfo.purchaseOrderDet" [scrollable]="true" scrollHeight="flex"
                        scrollHeight="40vh" [globalFilterFields]="['selectedProduct.name','selectedUnit.unitName',
                        'quantity','price','amount','remarks']" dataKey="id" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="selectedProduct.name">{{"PURCHASE_PROD_NAME" | translate}}
                                    <p-sortIcon field="selectedProduct.name">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="selectedUnit.unitName">{{"PURCHASE_UNIT_NAME" | translate}}
                                    <p-sortIcon field="selectedUnit.unitName">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="quantity">{{"PURCHASE_QUANTITY" | translate}}<p-sortIcon
                                        field="quantity">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="price">{{"PURCHASE_PRICE" | translate}}<p-sortIcon field="price">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="amount">{{"PURCHASE_AMOUNT" | translate}}<p-sortIcon
                                        field="amount">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="remarks">{{"APP_REMARKS" | translate}}<p-sortIcon field="remarks">
                                    </p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-det>
                            <tr>
                                <td> {{det.selectedProduct.name}} </td>


                                <td> {{det.selectedUnit.unitName}} </td>


                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber mode="decimal" [maxFractionDigits]="3"
                                                (onBlur)="calculateAmount($event, det)" [(ngModel)]="det.quantity">
                                            </p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{det.quantity }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber mode="decimal" [maxFractionDigits]="3"
                                                [(ngModel)]="det.price" (onBlur)="calculateAmount($event, det)">
                                            </p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{det.price }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>{{det.amount }}</td>
                                <td> {{det.remarks}} </td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </p-card>
</div>