<div *ngIf="loaded" style="width: 100%; align-items: center;">
    <table class="download_To_Pdf" id="printDocument" style="width:500px; height: 300px; font-weight:500; color: black;  margin:10px; padding: 10px; font-size: 12px;">
        <tr>
            <td style="width:10%"></td>
            <td colspan="2">
                <span id="pdf_title" style="width: 80%; font-size: larger; font-weight: 800;">{{"APP_FINANCE_DEPARTMENT" | translate}}</span>
                <span style="display: inline-block;">
                        <img src="./assets/icons/logo.png" style="width: 100px!important; height: 100px!important;">
                    </span>
            </td>
        </tr>
        <tr style="height: 10px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center; font-size:larger; font-weight: 800;text-decoration: underline;">{{cashForm.transType}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td>{{"CASHMGMT_TRANSDATE" | translate}}</td>
            <td>{{cashForm.transDate | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:20%">{{"CASHMGMT_INVOICE_NO" | translate}}</td>
            <td>{{cashForm.referenceNo}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:20%">{{"CASHMGMT_AMOUNT" | translate}}</td>
            <td>{{cashForm.amount | currency:' QAR ':'symbol':'0.0-0'}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td colspan="2">{{"CASHMGMT_PAYAMOUNT_TEXT" | translate}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td colspan="2">{{"CASHMGMT_FOR_RECEIPIENT" | translate}} {{cashForm.recipient}}</td>
        </tr>
        <tr style="height: 80px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:40%">{{"CASHMGMT_ADV_CHECKER" | translate}}</td>
            <td>{{"CASHMGMT_RECEIVER" | translate}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:40%"></td>
            <td>{{"CASHMGMT_NAME" | translate}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:40%"></td>
            <td>{{"CASHMGMT_CARD_NUMBER" | translate}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
        <tr>
            <td style="width:10%"></td>
            <td style="width:40%"></td>
            <td>{{"APP_SIGNATURE" | translate}}</td>
        </tr>
        <tr style="height: 20px;">
            <td colspan="3"></td>
        </tr>
    </table>
</div>