<div class="flex flex-col flex-auto w-full min-w-0  p-2">
    <div class="top-margin_app_save">
        <span class="newbtnpadding">
            <button pButton type="submit" label="{{'APP_SAVE' | translate}}" icon="pi pi-check" class="p-button-rounded"
                (click)="onSubmit()"></button>
        </span>
        <span class="newbtnpadding pl-2 pr-2">
            <button pButton type="button" label="{{'APP_CANCEL' | translate}}" icon="pi pi-times"
                class="p-button-rounded p-button-danger" (click)="cancelAddEdit()"></button>
        </span>
    </div>
    <p-tabView>
        <div class="card">
            <div class="card-body">
                <div class="p-fluid p-formgrid">
                    <div class="row">
                        <div class="col-md-4 ">
                            <label for="unitCode">{{"UNIT_CODE" | translate}}</label><br>
                            <input pInputText id="unitCode" placeholder="{{'UNIT_CODE' | translate}}"
                                [(ngModel)]="prodUnitInfo.unitCode">
                        </div>
                        <div class="col-md-4 ">
                            <label for="unitName">{{"UNIT_NAME" | translate}}</label>
                            <input pInputText id="unitName" placeholder="{{'UNIT_NAME' | translate}}"
                                [(ngModel)]="prodUnitInfo.unitName">
                        </div>
                        <div class="col-md-4">
                            <label for="conversionUnit">{{"CONVERSION_UNIT" | translate}}</label>
                            <input pInputText id="conversionUnit" placeholder="{{'CONVERSION_UNIT' | translate}}"
                                [(ngModel)]="prodUnitInfo.conversionUnit" min="0" max="10" maxlength="2" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabView>
</div>