.row-credit {
     background-color: rgb(15 170 79 / 15%) !important
}

.row-debit {
     background-color: antiquewhite!important
}

.p-calendar-w-btn .p-datepicker-trigger{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


