<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="{{'APP_SEARCH' | translate}}" />
            </span>
            <button pButton pRipple pTooltip="{{'APP_ADV_SEARCH' | translate}}" tooltipPosition="bottom" label=""
                icon="pi pi-search-plus" class="p-button-secondary p-mr-2" (click)="adFilter.toggle($event)"></button>
            <button [disabled]="!this.pdfdisabled" #trg1 type="button" pButton pRipple icon="pi pi-download"
                (click)="onDataClick()" class="p-button-success p-mr-2  p-ml-2"
                pTooltip="{{'APP_DOWNLOAD' | translate }}" tooltipPosition="bottom"></button>
            <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg1" [model]="items"></p-contextMenu>
            <div class="p-mr-2  p-ml-2 recordstatus" [ngClass]=" allHighlight ? 'highLightSelectedDiv': '' "
                pTooltip="All">
                <a (click)="statuschange('ALL')">{{"APP_ALL" | translate}}</a>
            </div>
            <div class="p-mr-2  p-ml-2 recordstatus appSubmitted"
                [ngClass]=" pendHighlight ? 'highLightSelectedDiv': '' " pTooltip="Pending">
                <a (click)="statuschange('SUBMITTED')">{{"APP_PENDING" | translate}}</a>
            </div>
            <div class="p-mr-2  p-ml-2 recordstatus appReturned" [ngClass]=" retHighlight ? 'highLightSelectedDiv': '' "
                pTooltip="Return">
                <a (click)="statuschange('RETURNED')">{{"APP_RETURN" | translate}}</a>
            </div>
        </ng-template>

        <ng-template pTemplate="right"
            *ngIf="(this.isCompGranted('SCR_DIRECT_INVOICE_PRE', this.actionType.allowEdit)&& activeTabIndex==0) || (this.isCompGranted('SCR_DIRECT_INVOICE_POST', this.actionType.allowEdit) && activeTabIndex==1)">
            <span class="newbtnpadding">
                <button dir="ltr" pButton pRipple label="{{'APP_ADD' | translate}}" icon="pi pi-plus"
                    class="p-button-rounded p-button-success p-mr-2" (click)="createNewInvoice()"></button></span>
        </ng-template>
    </p-toolbar>

    <p-tabView (onChange)="switchTab($event)" [(activeIndex)]="activeTabIndex">
        <p-tabPanel [disabled]="!this.isCompGranted('SCR_DIRECT_INVOICE_PRE', 'allowView')"
            header="{{'DIRECT_INVOICE_PRE_PAYMENT' | translate}}">
            <div style="overflow: auto;">
                <p-table #dt responsiveLayout="stack" selectionMode="single" [value]="prePayments"
                    styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [scrollable]="true"
                    scrollHeight="350px" [responsive]="true"
                    [globalFilterFields]="['orgName','vendorName','documentNo','invDate','documentDate','ledger','costCentre','amount','remarks']"
                    dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="transNo">{{"DIRECT_INVOICE_TRANSNO" | translate}}
                                <p-sortIcon field="transNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="vendorName">{{"DIRECT_INVOICE_VENDOR_NAME" | translate}}
                                <p-sortIcon field="vendorName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="documentNo">{{"DIRECT_INVOICE_DOC_NO" | translate}}
                                <p-sortIcon field="documentNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="documentDate">{{"DIRECT_INVOICE_DOC_DATE" | translate}}
                                <p-sortIcon field="documentDate"></p-sortIcon>
                            </th>
                            <!-- <th pSortableColumn="docDate">{{"DIRECT_INVOICE_DOC_DATE" | translate}}
                                <p-sortIcon field="docDate"></p-sortIcon>
                            </th> -->
                            <th pSortableColumn="ledger">{{"DIRECT_INVOICE_LEDGER" | translate}}
                                <p-sortIcon field="ledger"></p-sortIcon>
                            </th>
                            <th pSortableColumn="costCentre">{{"DIRECT_INVOICE_COST_CENTRE" | translate}}
                                <p-sortIcon field="costCentre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">{{"DIRECT_INVOICE_AMOUNT" | translate}}
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">{{"DIRECT_INVOICE_DUE_AMOUNT" | translate}}
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="remarks">{{"DIRECT_INVOICE_REMARKS" | translate}}
                                <p-sortIcon field="remarks"></p-sortIcon>
                            </th>
                            <th pSortableColumn="action">{{"APP_ACTION" | translate}}
                                <p-sortIcon field="action"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item"
                            [ngClass]="{'appSubmitted': item.status === 'SUBMITTED','appReturned': item.status === 'RETURNED', 'appApproved': item.status === 'APPROVED'}">
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_TRANSNO" |
                                    translate}}</span>{{item.transNo}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_VENDOR_NAME" |
                                    translate}}</span>{{item.vendorName}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_DOC_NO" |
                                    translate}}</span>{{item.documentNo}}</td>
                            <!-- <td ><span class="p-column-title">{{"DIRECT_INVOICE_INV_DATE" | translate}}</span>{{item.invoiceDate | date:'dd-MM-yyyy'}}</td> -->
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_DOC_DATE" |
                                    translate}}</span>{{item.documentDate | date:'dd-MM-yyyy'}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_LEDGER" |
                                    translate}}}</span>{{item.ledgerCode}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_COST_CENTRE" |
                                    translate}}</span>{{item.costCenterCode}}</td>
                            <td>
                                <span class="p-column-title">{{"DIRECT_INVOICE_AMOUNT" | translate}}</span>
                                <div style="text-align: right; width: 100%">
                                    {{item.amount | currency:' ':'symbol':'0.0-0'}}
                                </div>
                            </td>
                            <td>
                                <span class="p-column-title">{{"DIRECT_INVOICE_DUE_AMOUNT" | translate}}</span>
                                <div style="text-align: right; width: 100%">
                                    {{item.dueAmount | currency:' ':'symbol':'0.0-0'}}
                                </div>
                            </td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_REMARKS" |
                                    translate}}</span>{{item.remarks}}</td>
                            <td>

                                <span class="p-column-title">{{"APP_ACTION" | translate}}</span>
                                <span class="pl-2 pr-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg4"
                                        [model]="pregridContextMenu"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" #trg4
                                        (click)="preGetGridContextMenu(item)"
                                        class="p-button-rounded p-button-text"></button>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel [disabled]="!this.isCompGranted('SCR_DIRECT_INVOICE_POST', 'allowView')"
            header="{{'DIRECT_INVOICE_POST_PAYMENT' | translate}}">
            <div style="overflow: auto;">
                <p-table #dt responsiveLayout="stack" selectionMode="single" [paginator]="true" [rows]="10"
                    [scrollable]="true" scrollHeight="350px" [responsive]="true" styleClass="p-datatable-gridlines"
                    [value]="postPayments"
                    [globalFilterFields]="['orgName','vendorName','invNo','invDate','docDate','ledger','costCentre','amount','remarks']"
                    dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="transNo">{{"DIRECT_INVOICE_TRANSNO" | translate}}
                                <p-sortIcon field="transNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="vendorName">{{"DIRECT_INVOICE_VENDOR_NAME" | translate}}
                                <p-sortIcon field="vendorName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="invNo">{{"DIRECT_INVOICE_INV_NO" | translate}}
                                <p-sortIcon field="invNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="invDate">{{"DIRECT_INVOICE_INV_DATE" | translate}}
                                <p-sortIcon field="invDate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="docDate">{{"DIRECT_INVOICE_DOC_DATE" | translate}}
                                <p-sortIcon field="docDate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ledger">{{"DIRECT_INVOICE_LEDGER" | translate}}
                                <p-sortIcon field="ledger"></p-sortIcon>
                            </th>
                            <th pSortableColumn="costCentre">{{"DIRECT_INVOICE_COST_CENTRE" | translate}}
                                <p-sortIcon field="costCentre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">{{"DIRECT_INVOICE_AMOUNT" | translate}}
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="remarks">{{"DIRECT_INVOICE_REMARKS" | translate}}
                                <p-sortIcon field="remarks"></p-sortIcon>
                            </th>
                            <th pSortableColumn="action">{{"APP_ACTION" | translate}}
                                <p-sortIcon field="action"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item"
                            [ngClass]="{'appSubmitted': item.status === 'SUBMITTED','appReturned': item.status === 'RETURNED', 'appApproved': item.status === 'APPROVED'}">
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_TRANSNO" |
                                    translate}}</span>{{item.transNo}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_VENDOR_NAME" |
                                    translate}}</span>{{item.vendorName}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_INV_NO" |
                                    translate}}</span>{{item.invoiceNo}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_INV_DATE" |
                                    translate}}</span>{{item.invoiceDate | date:'dd-MM-yyyy'}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_DOC_DATE" |
                                    translate}}</span>{{item.documentDate | date:'dd-MM-yyyy'}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_LEDGER" |
                                    translate}}</span>{{item.ledgerCode}}</td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_COST_CENTRE" |
                                    translate}}</span>{{item.costCenterCode}}</td>
                            <td>
                                <span class="p-column-title">{{"DIRECT_INVOICE_AMOUNT" | translate}}</span>
                                <div style="text-align: right; width: 100%">
                                    {{item.amount | currency:' ':'symbol':'0.0-0'}}
                                </div>
                            </td>
                            <td><span class="p-column-title">{{"DIRECT_INVOICE_REMARKS" |
                                    translate}}</span>{{item.remarks}}</td>
                            <td><span class="p-column-title">{{"APP_ACTION" | translate}}</span>
                                <div></div>
                                <span class="pl-2 pr-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg4"
                                        [model]="postgridContextMenu"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" #trg4
                                        (click)="postGetGridContextMenu(item)"
                                        class="p-button-rounded p-button-text"></button>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>


</div>
<p-overlayPanel #adFilter [style]="{width: '60%'}">
    <ng-template pTemplate>
        <div>
            <div class="p-fluid p-formgrid p-grid" style="text-align: start;" [dir]="lang === 'ar' ? 'rtl' : 'ltr'">
                <div class="p-field  p-col-6 p-md-4">
                    <label for="documentNo">{{"DIRECT_INVOICE_DOC_NO" | translate}}</label>
                    <input id="documentNo" type="text" [(ngModel)]="directInvoiceSearch.documentNo " class="p-invalid"
                        pInputText />
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="fromDocDate">{{"DIRECT_INVOICE_DOCFROMDATE" | translate}}</label>
                    <p-calendar id="fromDocDate" dateFormat="dd-mm-yy" [showIcon]="true" inputId="transDateInp"
                        [(ngModel)]="directInvoiceSearch.fromDocDate "
                        placeholder="{{ 'CASHMGMT_TRANSDATE' | translate}}"></p-calendar>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="toDocDate">{{"DIRECT_INVOICE_DOCTODATE" | translate}}</label>
                    <p-calendar id="toDocDate" dateFormat="dd-mm-yy" [showIcon]="true" inputId="transDateInp"
                        [(ngModel)]="directInvoiceSearch.toDocDate "
                        placeholder="{{ 'CASHMGMT_TRANSDATE' | translate}}"></p-calendar>
                </div>
                <div class="p-field p-col-6 p-md-4">
                    <label for="VendorMasterId">{{"DIRECT_INVOICE_VENDOR" | translate}}</label>
                    <p-multiSelect [options]="vendorMaster" [(ngModel)]="directInvoiceSearch.VendorMasterId"
                        placeholder="{{'DIRECT_INVOICE_VENDOR' | translate}}" optionLabel="vendorName" optionValue="id">
                    </p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="ledgerCode">{{"DIRECT_INVOICE_LEDGER" | translate}}</label>
                    <p-multiSelect [options]="ledgerCodes" [(ngModel)]="directInvoiceSearch.LedgerCode"
                        placeholder="{{'DIRECT_INVOICE_LEDGER' | translate}}" optionLabel="ledgerDescCode"
                        optionValue="ledgerCode"></p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="CostCenterCode">{{"DIRECT_INVOICE_CC" | translate}}</label>
                    <p-multiSelect id="CostCenterCode" [options]="costCenters"
                        [(ngModel)]="directInvoiceSearch.CostCenterCode "
                        placeholder="{{ 'DIRECT_INVOICE_CC_REQ' | translate}}" optionLabel="codeDescription"
                        optionValue="code"></p-multiSelect>
                </div>

                <div class="p-field  p-col-6 p-md-4">
                    <label for="status">{{"DIRECT_INVOICE_STATUS" | translate}}</label>
                    <p-multiSelect [options]="statuses" [(ngModel)]="directInvoiceSearch.status"
                        placeholder="Select status" optionLabel="description" optionValue="code">
                    </p-multiSelect>
                </div>
                <p-divider type="dashed" class="w-full"></p-divider>
                <div class="p-field p-col-6 p-md-2">
                    <button pButton pRipple label="{{'APP_SEARCH' | translate}}" icon="pi pi-search"
                        class="p-button-rounded p-button-success p-mr-2"
                        (click)="adFilter.hide();getDirectInvoiceSearch();"></button>
                </div>
                <div class="p-field p-col-6 p-md-2">
                    <button pButton pRipple label="{{'APP_CLEAR' | translate}}" icon="pi pi-times-circle"
                        class="p-button-rounded p-button-warning  p-mr-2" (click)="clearInvoiceSearch()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-sidebar #sidebar1 [(visible)]="visibleSidebar1" position="right">
    <div class="" *ngIf="historyInfo">
        <div class="col-md-12">
            <h5> {{"BUDGT_TRANS_HISTORY_TITLE" | translate }}: {{historyInfo.selectedItem.transNo }}</h5>
            <hr>
        </div>
        <div class="row"></div>
        <div class="col-md-12" style="padding-bottom: 10px;">
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="input-group col-md-12" style="padding-bottom: 10px;">
                    <textarea type="text" class="form-control" placeholder="Comment" [(ngModel)]="userComment.comments"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
                    <div class="input-group" style="padding-top: 10px;">
                        <button class="btn btn-outline-secondary"
                            (click)="attachmentLink(userComment,'DIRINVPRECMTATT')" type="button"><i
                                class="pi pi-paperclip"></i></button>
                        <button class="btn btn-outline-secondary" (click)="savePrePayHdrComment()" type="button"
                            style="margin-left: 10px;margin-right: 10px;"><i class="pi pi-send"></i></button>
                    </div>
                </div>


            </div>
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="col-md-12" style="max-height: 300px;overflow: auto;">
                    <div class="Comment" *ngFor=" let item of historyInfo.comments">
                        <div class="flex flex-col ng-star-inserted">
                            <hr>
                            <div class="text-normal" style="word-break: break-word;">
                                {{item.Comments}}
                            </div>
                            <div class="text-sm font-small text-secondary mr-3 ng-star-inserted">
                                <span style="cursor: pointer; padding-left: 5px; padding-right: 5px;"
                                    *ngIf="item.attachbtn==true" (click)="attachmentLink(item, 'DIRINVPRECMTATT')"><i
                                        class="pi pi-paperclip"></i></span>
                                <span>By {{item.UserName}} </span>
                                <span>On {{item.CreatedDate | date: 'dd/MM/yy hh:mm'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            <p-accordion #ac1>
                <p-accordionTab #tab1 header="{{'APP_DOCUMENTS' | translate}}" style="text-decoration: none;">
                    <p-table responsiveLayout="stack" [value]="historyInfo.appDocument" scrollHeight="flex"
                        styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"FILE_NAME" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_BY" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_DATE" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>
                                    <div class="fileDiv" (click)="downloadFile(item.id)">{{item.fileName}}</div>
                                </th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
                <p-accordionTab #tab2 header="{{'APP_STATUS_HISTORY' | translate }}">
                    <div class="flex flex-col-reverse  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                        <p-table responsiveLayout="stack" selectionMode="single" [value]="historyInfo.historyStatus"
                            scrollHeight="flex" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                            dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{"APP_STATUS" | translate}}
                                    </th>
                                    <th>{{"BUDGET_REMARKS" | translate}}
                                    </th>
                                    <th>{{"APP_CHANGED_BY" | translate}}
                                    </th>
                                    <th>{{"APP_CHANGED_ON" | translate}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="det">
                                    <th>{{item.Status}}</th>
                                    <th>{{item.Comments}}</th>
                                    <th>{{item.UserName}}</th>
                                    <th>{{item.CreatedDate | date: 'dd/MM/yy hh:mm'}}</th>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-accordionTab>
                <p-accordionTab #tab3 header="{{'APP_HISTORY' | translate }}" style="text-decoration: none;">
                    <p-table responsiveLayout="stack" selectionMode="single" [value]="historyInfo.history"
                        scrollHeight="flex" styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"APP_FIELD_NAME" | translate}}
                                </th>
                                <th>{{"APP_PREV_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CURRENT_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_BY" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_ON" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>{{item.fieldName}}</th>
                                <th>{{item.prevValue }} </th>
                                <th>{{item.currentValue }}</th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</p-sidebar>
<p-sidebar #sidebar2 [(visible)]="visibleSidebar2" position="right">
    <div class="" *ngIf="historyInfo">
        <div class="col-md-12">
            <h5> {{"DIRINV_POSTPAY_HISTORY_TITLE" | translate }}: {{historyInfo.selectedItem.transNo }}</h5>
            <hr>
        </div>
        <div class="row"></div>
        <div class="col-md-12" style="padding-bottom: 10px;">
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="input-group col-md-12" style="padding-bottom: 10px;">
                    <textarea type="text" class="form-control" placeholder="Comment" [(ngModel)]="userComment.comments"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
                    <div class="input-group" style="padding-top: 10px;">
                        <button class="btn btn-outline-secondary"
                            (click)="attachmentLink(userComment,'DIRINVPOSTCOMMENT')" type="button"><i
                                class="pi pi-paperclip"></i></button>
                        <button class="btn btn-outline-secondary" (click)="saveDirPostComment()" type="button"
                            style="margin-left: 10px;margin-right: 10px;"><i class="pi pi-send"></i></button>
                    </div>
                </div>


            </div>
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="col-md-12" style="max-height: 300px;overflow: auto;">
                    <div class="Comment" *ngFor=" let item of historyInfo.comments">
                        <div class="flex flex-col ng-star-inserted">
                            <hr>
                            <div class="text-normal" style="word-break: break-word;">
                                {{item.Comments}}
                            </div>
                            <div class="text-sm font-small text-secondary mr-3 ng-star-inserted">
                                <span style="cursor: pointer; padding-left: 5px; padding-right: 5px;"
                                    *ngIf="item.attachbtn==true" (click)="attachmentLink(item, 'DIRINVPOSTCOMMENT')"><i
                                        class="pi pi-paperclip"></i></span>
                                <span>By {{item.UserName}} </span>
                                <span>On {{item.CreatedDate | date: 'dd/MM/yy hh:mm'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            <p-accordion #ac2>
                <p-accordionTab #tab4 header="{{'APP_DOCUMENTS' | translate}}" style="text-decoration: none;">
                    <p-table responsiveLayout="stack" [value]="historyInfo.appDocument" scrollHeight="flex"
                        styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"FILE_NAME" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_BY" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_DATE" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>
                                    <div class="fileDiv" (click)="downloadFile(item.id)">{{item.fileName}}</div>
                                </th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
                <p-accordionTab #tab5 header="{{'APP_STATUS_HISTORY' | translate }}">
                    <div class="flex flex-col-reverse  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                        <p-table responsiveLayout="stack" selectionMode="single" [value]="historyInfo.historyStatus"
                            scrollHeight="flex" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                            dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{"APP_STATUS" | translate}}
                                    </th>
                                    <th>{{"BUDGET_REMARKS" | translate}}
                                    </th>
                                    <th>{{"APP_CHANGED_BY" | translate}}
                                    </th>
                                    <th>{{"APP_CHANGED_ON" | translate}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pSelectableRow]="det">
                                    <th>{{item.Status}}</th>
                                    <th>{{item.Comments}}</th>
                                    <th>{{item.UserName}}</th>
                                    <th>{{item.CreatedDate | date: 'dd/MM/yy hh:mm'}}</th>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-accordionTab>
                <p-accordionTab #tab6 header="{{'APP_HISTORY' | translate }}" style="text-decoration: none;">
                    <p-table responsiveLayout="stack" selectionMode="single" [value]="historyInfo.history"
                        scrollHeight="flex" styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"APP_FIELD_NAME" | translate}}
                                </th>
                                <th>{{"APP_PREV_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CURRENT_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_BY" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_ON" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>{{item.fieldName}}</th>
                                <th>{{item.prevValue }} </th>
                                <th>{{item.currentValue }}</th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</p-sidebar>





<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog [(header)]="approveReturnHdr" [(visible)]="showApproveReturn" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid" [dir]="lang === 'ar' ? 'rtl' : 'ltr'" style="text-align: start;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Remarks">{{"DIRECT_INVOICE_REMARKS" | translate}}</label>
                    <textarea id="Remarks" [(ngModel)]="approveRetRemarks " type="text" rows="3"
                        pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button *ngIf="showReturnButton" icon="pi pi-thumbs-down" (click)="processApproveOrReject('RETURNED')"
            label="{{'APP_RETURN'|translate}}" styleClass="p-element p-button-rounded p-button p-component"></p-button>
        <p-button *ngIf="showApproveButton" icon="pi pi-thumbs-up" (click)="processApproveOrReject('APPROVED')"
            label="{{'APP_APPROVE'|translate}}" styleClass="p-element p-button-rounded p-button p-component"></p-button>
        <p-button icon="pi pi-ban" (click)="showApproveReturn = false" label="{{'APP_CANCEL'|translate}}"
            styleClass="p-element p-button-rounded p-button-danger p-button p-component"></p-button>
    </ng-template>
</p-dialog>