<div class="flex flex-col flex-auto w-full  min-w-0">
    <p-toolbar>
        <ng-template pTemplate="right">
            <span class="newbtnpadding">
                <button dir="ltr" pButton type="button" label="{{'APP_SAVE' | translate}}" icon="pi pi-save"
                    (click)="createOredit()" class="p-button-rounded"></button>
            </span>
            <span class="newbtnpadding pl-2  pr-2">
                <button dir="ltr" pButton type="button" label="{{'APP_CANCEL' | translate}}" icon="pi pi-ban"
                    class="p-button-rounded p-button-danger" (click)="cancelAddEdit()"></button>
            </span>
        </ng-template>
    </p-toolbar>
    <p-card>
        <div class="p-fluid " [dir]="lang === 'ar' ? 'rtl' : 'ltr'" style="text-align: start;">
            <div class="row">
                <div class="col-md-2">
                    <label for="ddlIssueType">{{"INV_ISSUE_TYPE" | translate}}</label>
                    <p-dropdown [options]="issueTypes" [filter]="true" filterBy="description" id="ddlIssueType" [(ngModel)]="this.selectedIssueType"
                        optionLabel="description" (onChange)="onChangeIssueType()">
                    </p-dropdown>
                </div>
                <div class="col-md-3">
                    <label for="txtRemarks">{{"GRN_WH_LOCATION" | translate}}</label>
                    <p-dropdown [options]="whLocations" [filter]="true" filterBy="name" id="ddlwhLoc" [(ngModel)]="selectedWhLocation"
                        optionLabel="name"  (onChange)="loadStock()">
                    </p-dropdown>
                </div>
                <div class="col-md-2" *ngIf="showSRBasedControls">
                    <label for="txtPoNo">{{"INV_ISSUE_SR_NO" | translate}}</label>
                    <input pInputText id="txtPoNo" placeholder="{{'INV_ISSUE_SR_NO' | translate}}" (blur)="loadServiceDetails($event)" [(ngModel)]="issueInfo.serviceReqNo">
                </div>
                <div class="col-md-4">
                    <label for="txtRemarks">{{"APP_REMARKS" | translate}}</label>
                    <input pInputText id="txtRemarks" placeholder="{{'APP_REMARKS' | translate}}" [(ngModel)]="issueInfo.remarks">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-4">
                    <p-toolbar >
                        <ng-template pTemplate="left">
                            <span class="p-input-icon-left" style="padding: 10px;width: 200px;">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="embDt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="{{'APP_SEARCH' | translate}}" />
                            </span>
                            <div *ngIf="showSRBasedControls" style="padding: 10px;width: 200px; font-weight: bolder;"> 
                                <span>{{"SR_EMPLOYEE_NAME" | translate}} : {{selectedEmployee.empName}}</span>
                            </div>
                            <div style="padding: 5px;width: 200px; font-weight: bolder;"> 
                                <span>{{"TOTAL_QUANTITY" | translate}} : {{ inventoryissueTotelQuantity| currency:' ':'symbol':'0.0-0'}}</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <span class="newbtnpadding" *ngIf="!showSRBasedControls">
                                <button pButton pRipple label="{{'APP_ADD' | translate}}" icon="pi pi-plus"
                                    pTooltip="{{'SR_ADD_PRODUCTS' | translate}}" tooltipPosition="bottom" class="p-button-success p-mr-2"
                                    (click)="addNewRecord()"></button>
                            </span>
                        </ng-template>
                    </p-toolbar>
                    <p-table #grnDt [value]="issueInfo.prodInvIssueDet"  
                        [globalFilterFields]="['productName','unitName','quantity','','remarks']"
                        dataKey="id" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="productName">{{"SR_PROD_NAME" | translate}}
                                    <p-sortIcon field="productName">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="unitName">{{"SR_UNIT_NAME" | translate}}
                                    <p-sortIcon field="unitName">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="quantity">{{"GRN_QUANTITY" | translate}}<p-sortIcon field="quantity">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="avlQuantity">{{"INV_ISSUE_AVL_QTY" | translate}}<p-sortIcon field="avlQuantity">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="remarks">{{"APP_REMARKS" | translate}}<p-sortIcon field="remarks">
                                    </p-sortIcon>
                                </th>
                                <th *ngIf="!showSRBasedControls">{{"APP_ACTION" | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-det>
                            <tr>
                                <td *ngIf="showSRBasedControls">{{det.selectedProduct.name}}</td>
                                <td *ngIf="showSRBasedControls"> {{det.selectedUnit.unitName}}</td>
                                <td *ngIf="showSRBasedControls"> {{det.quantity }}</td>
                                <td pEditableColumn *ngIf="!showSRBasedControls">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="products" [filter]="true" filterBy="name" id="ddlProduct"
                                                [(ngModel)]="det.selectedProduct" optionLabel="name" (onChange)="onChangeProduct(det)">
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{det.selectedProduct.name}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="!showSRBasedControls">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="units" [filter]="true" filterBy="unitName" id="ddlUnits"
                                                [(ngModel)]="det.selectedUnit" optionLabel="unitName" (onChange)="loadStockQty(det)">
                                            </p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{det.selectedUnit.unitName}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn *ngIf="!showSRBasedControls">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-inputNumber mode="decimal" [maxFractionDigits]="3" 
                                                placeholder="{{ 'GRN_QUANTITY' | translate}}" [(ngModel)]="det.quantity">
                                            </p-inputNumber>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{det.quantity }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td> {{det.avlQuantity }}</td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="det.remarks" aria-readonly="true">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{det.remarks}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td *ngIf="!showSRBasedControls">
                                    <span style="padding-left: 5px;padding-right: 5px;">
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-outlined p-button-rounded p-button-danger"
                                            (click)="deleteDetRecord(det)" pTooltip="{{'APP_DELETE' | translate}}"></button>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                </div>
            </div>
    </p-card>
</div>
<p-confirmDialog header="{{'APP_CONFIRMATION' | translate}}" acceptLabel="{{'APP_OK' | translate}}"
    rejectLabel="{{'APP_CANCEL' | translate}}" icon="pi pi-exclamation-triangle"
    acceptButtonStyleClass="p-button-rounded p-button-danger" rejectButtonStyleClass="p-button-rounded">
</p-confirmDialog>
 