<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="{{'APP_SEARCH' | translate}}" />
            </span>
            <button pButton pRipple label="" icon="pi pi-search-plus" class="p-button-secondary p-mr-2"
                pTooltip="{{'APP_ADV_FILTER' | translate }}" tooltipPosition="bottom"
                (click)="adFilter.toggle($event)"></button>
            <button type="button" pButton pRipple icon="pi pi-wallet" (click)="accBalance.toggle($event)"
                class="p-button-success p-mr-2  p-ml-2" pTooltip="{{'PETTY_ACC_BALANCE' | translate }}"
                tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="export('PDF')"
                class="p-button-success p-mr-2  p-ml-2" pTooltip="{{'APP_PRINT' | translate }}"
                tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="export('EXCEL')"
                class="p-button-success p-mr-2  p-ml-2" pTooltip="{{'APP_PRINT' | translate }}"
                tooltipPosition="bottom"></button> -->
            <button [disabled]="!this.pdfdisabled" #trg1 type="button" pButton pRipple icon="pi pi-download"
                (click)="onDataClick()" class="p-button-success p-mr-2  p-ml-2"
                pTooltip="{{'APP_DOWNLOAD' | translate }}" tooltipPosition="bottom"></button>
            <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg1" [model]="items"></p-contextMenu>
        </ng-template>
        <ng-template pTemplate="right">
            <span *ngIf="!isDayClosed" class="newbtnpadding"><button pButton pRipple
                    label="{{'APP_DAY_CLOSE' | translate}}" class="p-button-rounded p-button-danger p-mr-2"
                    (click)="processdayclosure()"></button></span>
            <p-badge *ngIf="isDayClosed" [value]="dayClosedMsg" styleClass="p-mr-2" severity="info"></p-badge>
            <span class="newbtnpadding"><button dir="ltr"
                    *ngIf="isGranted('SCR_CASH_MGMT',actionType.allowAdd) && !isDayClosed" pButton pRipple
                    label="{{'APP_ADD' | translate}}" icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                    (click)="createCashTransaction()"></button>
            </span>


        </ng-template>
        <!-- <div *ngFor="let data of pettyCashTransactionList">
            <span>{{printData(data)}}</span>
        </div> -->
    </p-toolbar>
    <p-tabView (onChange)="getTransactions($event)" [(activeIndex)]="activeTabIndex">
        <p-tabPanel [disabled]="!enableReceiptTab" leftIcon="pi pi-wallet" header="{{'CASHMGMT_RECEIPTS' | translate}}">
            <div style="overflow: auto;">
                <p-table #dt responsiveLayout="stack" selectionMode="single" [(selection)]="selectedReceipt"
                    [paginator]="true" [rows]="10" [value]="cashReceipts" [scrollable]="true" scrollHeight="350px"
                    [responsive]="true" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                    [globalFilterFields]="['processTypeDesc','amount','recipient','ledger', 'referenceNo','remarks','costCenterDesc']"
                    dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="processTypeDesc">{{"CASHMGMT_PROCESS" | translate}}<p-sortIcon
                                    field="processTypeDesc"></p-sortIcon>
                            </th>
                            <th pSortableColumn="transDate">{{"CASHMGMT_TRANSDATE" | translate}}<p-sortIcon
                                    field="transDate">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">
                                <div style="text-align: right; width: 100%">{{"CASHMGMT_AMOUNT" | translate}}</div>
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ledger">{{"CASHMGMT_LEDGER" | translate}}<p-sortIcon field="ledger">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="costCenterDesc">{{"CASHMGMT_COSTCENTER" | translate}}<p-sortIcon
                                    field="costCenterDesc">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="recipient">{{"CASHMGMT_RECIPIENT" | translate}}<p-sortIcon
                                    field="recipient">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="referenceNo">{{"CASHMGMT_REFERENCE" | translate}}<p-sortIcon
                                    field="referenceNo">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="remarks">{{"CASHMGMT_REMARKS" | translate}}<p-sortIcon field="remarks">
                                </p-sortIcon>
                            </th>
                            <th>{{"APP_ACTION" | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item">
                            <td>{{item.processTypeDesc}}</td>
                            <td>{{item.transDate | date:'dd-MM-yyyy' }}</td>
                            <td>
                                <div style="text-align: right; width: 100%">{{item.amount | currency:'
                                    ':'symbol':'0.0-0'}}
                                </div>
                            </td>
                            <td>{{item.ledger}}</td>
                            <td>{{item.costCenterDesc}}</td>
                            <td>{{item.recipient}}</td>
                            <td>{{item.referenceNo}}</td>
                            <td>{{item.remarks}}</td>
                            <td>
                                <span class="pl-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg2"
                                        [model]="gridContextMenu"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" #trg2
                                        (click)="onDataClick(item)" class="p-button-rounded p-button-text">
                                    </button>
                                </span>
                                <!-- <span *ngIf="isGranted('SCR_CASH_MGMT',actionType.allowEdit)" class="pl-2">
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                        (click)="editCashTransaction(item)"
                                        *ngIf="!item.isDayClosed" 
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span>
                                <span *ngIf="isGranted('SCR_CASH_MGMT',actionType.allowDelete)" class="pl-2">
                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                        (click)="deleteCashTransaction(item)"
                                        *ngIf="!item.isDayClosed" 
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span> -->
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="pi pi-clone" header="{{'CASHMGMT_TRANSFERS' | translate}}">
            <div style="overflow: auto;">
                <p-table #dt responsiveLayout="stack" selectionMode="single" [value]="pettyCashTransactionList"
                    [paginator]="true" [rows]="10" [scrollable]="true" scrollHeight="350px" [responsive]="true"
                    styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                    [globalFilterFields]="['organization','account','teller','transDate', 'amount','remark']"
                    dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th pSortableColumn="organization">{{"CASH_TRANSFER_ORG" | translate}}
                    <p-sortIcon field="organization"></p-sortIcon>
                  </th> -->
                            <th pSortableColumn="organization">{{"CASH_TRANSFER_ORG" | translate}}
                                <p-sortIcon field="organization"></p-sortIcon>
                            </th>
                            <th pSortableColumn="account">{{"CASH_TRANSFER_ACCOUNT" | translate}}
                                <p-sortIcon field="account"></p-sortIcon>
                            </th>
                            <th pSortableColumn="teller">{{"CASH_TRANSFER_TELLER" | translate}}
                                <p-sortIcon field="teller"></p-sortIcon>
                            </th>
                            <th pSortableColumn="transDate">{{"CASH_TRANSFER_TRANS_DATE" | translate}}
                                <p-sortIcon field="transDate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">{{"CASH_TRASNFER_AMOUNT" | translate}}
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="remark">{{"CASH_TRANSFER_REMARK" | translate}}
                                <p-sortIcon field="remark"></p-sortIcon>
                            </th>
                            <th pSortableColumn="action">{{"APP_ACTION" | translate}}
                                <p-sortIcon field="action"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item">
                            <td>{{item.fromOrgName}} - {{item.toOrgName}}</td>
                            <td>{{item.fromAccountName}} - {{item.toAccountName}}</td>
                            <td>{{item.fromTellerName}} - {{item.toTellerName}}</td>
                            <td>{{item.transDate | date:'dd-MM-yyyy'}}</td>
                            <td>
                                <div style="text-align: right; width: 100%">
                                    {{item.amount | currency:' ':'symbol':'0.0-0'}}
                                </div>
                            </td>
                            <td>{{item.remarks}}</td>
                            <td>
                                <span class="pl-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg3"
                                        [model]="gridContextMenu"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" #trg3
                                        (click)="onDataClick(item)" class="p-button-rounded p-button-text"></button>
                                </span>
                                <!-- <span class="pl-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg3" [model]="items"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-print" #trg3 (click)="onDataClick(item.id)"
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span>
                                <span class="pl-2">
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                    *ngIf="!item.isDayClosed" 
                                        (click)="editCashTransfer(item)"
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span>
                                <span class="pl-2">
                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                    *ngIf="!item.isDayClosed" 
                                        (click)="deleteCashTransfer(item)"
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span> -->
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </p-tabPanel>
        <p-tabPanel leftIcon="pi pi-money-bill" header="{{'CASHMGMT_EXPENSES' | translate}}">
            <div style="overflow: auto;">
                <p-table #dt responsiveLayout="stack" selectionMode="single" [(selection)]="selectedCashExpense"
                    [value]="cashExpenses" [paginator]="true" [rows]="10" [scrollable]="true" scrollHeight="350px"
                    [responsive]="true" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
                    [globalFilterFields]="['processTypeDesc','amount','recipient','ledger', 'referenceNo','remarks','costCenterDesc']"
                    dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="processTypeDesc">{{"CASHMGMT_PROCESS" | translate}}<p-sortIcon
                                    field="processTypeDesc"></p-sortIcon>
                            </th>
                            <th pSortableColumn="transDate">{{"CASHMGMT_TRANSDATE" | translate}}<p-sortIcon
                                    field="transDate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="amount">
                                <div style="text-align: right; width: 100%">{{"CASHMGMT_AMOUNT" | translate}}</div>
                                <p-sortIcon field="amount"></p-sortIcon>
                            </th>
                            <th pSortableColumn="ledger">{{"CASHMGMT_LEDGER" | translate}}<p-sortIcon field="ledger">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="costCenterDesc">{{"CASHMGMT_COSTCENTER" | translate}}<p-sortIcon
                                    field="costCenterDesc"></p-sortIcon>
                            </th>
                            <th pSortableColumn="recipient">{{"CASHMGMT_RECIPIENT" | translate}}<p-sortIcon
                                    field="recipient"></p-sortIcon>
                            </th>
                            <th pSortableColumn="referenceNo">{{"CASHMGMT_REFERENCE" | translate}}<p-sortIcon
                                    field="referenceNo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="remarks">{{"CASHMGMT_REMARKS" | translate}}<p-sortIcon field="remarks">
                                </p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item">
                            <td>{{item.processTypeDesc}}</td>
                            <td>{{item.transDate | date:'dd-MM-yyyy' }}</td>
                            <td>
                                <div style="text-align: right; width: 100%">{{item.amount | currency:'
                                    ':'symbol':'0.0-0'}}</div>
                            </td>
                            <td>{{item.ledger}}</td>
                            <td>{{item.costCenterDesc}}</td>
                            <td>{{item.recipient}}</td>
                            <td>{{item.referenceNo}}</td>
                            <td>{{item.remarks}}</td>
                            <td>
                                <span class="pl-2 pr-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg4"
                                        [model]="gridContextMenu"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v" #trg4
                                        (click)="onDataClick(item)" class="p-button-rounded p-button-text"></button>
                                </span>
                                <!-- <span class="pl-2">
                                    <p-contextMenu triggerEvent="click" appendTo="body" [target]="trg4" [model]="items"></p-contextMenu>
                                    <button pButton pRipple type="button" icon="pi pi-print" #trg4 (click)="onDataClick(item.id)"
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span>
                                <span *ngIf="isGranted('SCR_CASH_MGMT',actionType.allowEdit) && !item.isDayClosed" class="pl-2">
                                    <button pButton pRipple type="button" icon="pi pi-pencil"
                                        (click)="editCashTransaction(item)"
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span>
                                <span *ngIf="isGranted('SCR_CASH_MGMT',actionType.allowDelete) && !item.isDayClosed" class="pl-2">
                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                        (click)="deleteCashTransaction(item)"
                                        class="p-button-rounded p-button-success p-button-outlined"></button>
                                </span> -->
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
    </p-tabView>
    <p-confirmDialog header="{{'APP_DC_CONFIRM_HDR' | translate}}" acceptLabel="{{'APP_OK' | translate}}"
        rejectLabel="{{'APP_CANCEL' | translate}}" icon="pi pi-exclamation-triangle" key="dayclosure"
        acceptButtonStyleClass="p-button-rounded p-button-danger" rejectButtonStyleClass="p-button-rounded">
    </p-confirmDialog>
</div>
<p-sidebar [(visible)]="visibleSidebarPettyCashTransfer" position="right" (onHide)="sidenavClosed()">
    <div class="" *ngIf="historyInfo">
        <div class="col-md-12">
            <h5> {{"PETTY_ACCOUNTS" | translate }}: {{historyInfo.selectedItem.formattedAccount }}</h5>
            <hr>
        </div>
        <div class="row"></div>
        <div class="col-md-12" style="padding-bottom: 10px;">
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="input-group col-md-12" style="padding-bottom: 10px;">
                    <textarea type="text" class="form-control" placeholder="Comment" [(ngModel)]="userComment.comments"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
                    <div class="input-group" style="padding-top: 10px;">
                        <button class="btn btn-outline-secondary" (click)="attachmentLink(userComment,'PETTYCASHTRANS')"
                            type="button"><i class="pi pi-paperclip"></i></button>
                        <button class="btn btn-outline-secondary" (click)="savePettyCashTransComment()" type="button"
                            style="margin-left: 10px;margin-right: 10px;"><i class="pi pi-send"></i></button>
                    </div>
                </div>


            </div>
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="col-md-12" style="max-height: 300px;overflow: auto;">
                    <div class="Comment" *ngFor=" let item of historyInfo.comments">
                        <div class="flex flex-col ng-star-inserted">
                            <hr>
                            <div class="text-normal" style="word-break: break-word;">
                                {{item.Comments}}
                            </div>
                            <div class="text-sm font-small text-secondary mr-3 ng-star-inserted">
                                <span style="cursor: pointer; padding-left: 5px; padding-right: 5px;"
                                    *ngIf="item.attachbtn==true" (click)="attachmentLink(item, 'PETTYCASHTRANS')"><i
                                        class="pi pi-paperclip"></i></span>
                                <span>By {{item.UserName}} </span>
                                <span>On {{item.CreatedDate | date: 'dd/MM/yy hh:mm'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            <p-accordion multiple="true">
                <p-accordionTab #tab header="{{'APP_DOCUMENTS' | translate}}" style="text-decoration: none;">
                    <p-table #dt1 responsiveLayout="stack" [value]="historyInfo.appDocument" scrollHeight="flex"
                        styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"FILE_NAME" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_BY" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_DATE" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>
                                    <div class="fileDiv" (click)="downloadFile(item.id)">{{item.fileName}}</div>
                                </th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
                <p-accordionTab #tab3 header="{{'APP_HISTORY' | translate }}" style="text-decoration: none;">
                    <p-table #dt3 responsiveLayout="stack" selectionMode="single" [value]="historyInfo.history"
                        scrollHeight="flex" styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"APP_FIELD_NAME" | translate}}
                                </th>
                                <th>{{"APP_PREV_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CURRENT_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_BY" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_ON" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>{{item.fieldName}}</th>
                                <th>{{item.prevValue }} </th>
                                <th>{{item.currentValue }}</th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</p-sidebar>
<p-sidebar [(visible)]="visibleSidebarCashTransaction" position="right" (onHide)="sidenavClosed()">
    <div class="" *ngIf="historyInfo">
        <div class="col-md-12">
            <h5> {{"CASHMGMT_LEDGER" | translate }}: {{historyInfo.selectedItem.ledger }}</h5>
            <hr>
        </div>
        <div class="row"></div>
        <div class="col-md-12" style="padding-bottom: 10px;">
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="input-group col-md-12" style="padding-bottom: 10px;">
                    <textarea type="text" class="form-control" placeholder="Comment" [(ngModel)]="userComment.comments"
                        aria-label="Recipient's username" aria-describedby="basic-addon2"></textarea>
                    <div class="input-group" style="padding-top: 10px;">
                        <button class="btn btn-outline-secondary" (click)="attachmentLink(userComment,'CASHTRANSACION')"
                            type="button"><i class="pi pi-paperclip"></i></button>
                        <button class="btn btn-outline-secondary" (click)="saveCashTransactionComment()" type="button"
                            style="margin-left: 10px;margin-right: 10px;"><i class="pi pi-send"></i></button>
                    </div>
                </div>


            </div>
            <div class="flex  overflow-y-auto overscroll-y-contain  ng-star-inserted">
                <div class="col-md-12" style="max-height: 300px;overflow: auto;">
                    <div class="Comment" *ngFor=" let item of historyInfo.comments">
                        <div class="flex flex-col ng-star-inserted">
                            <hr>
                            <div class="text-normal" style="word-break: break-word;">
                                {{item.Comments}}
                            </div>
                            <div class="text-sm font-small text-secondary mr-3 ng-star-inserted">
                                <span style="cursor: pointer; padding-left: 5px; padding-right: 5px;"
                                    *ngIf="item.attachbtn==true" (click)="attachmentLink(item, 'CASHTRANSACION')"><i
                                        class="pi pi-paperclip"></i></span>
                                <span>By {{item.UserName}} </span>
                                <span>On {{item.CreatedDate | date: 'dd/MM/yy hh:mm'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-12">
            <p-accordion multiple="true">
                <p-accordionTab #tab header="{{'APP_DOCUMENTS' | translate}}" style="text-decoration: none;">
                    <p-table #dt1 responsiveLayout="stack" [value]="historyInfo.appDocument" scrollHeight="flex"
                        styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"FILE_NAME" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_BY" | translate}}
                                </th>
                                <th>{{"APP_UPLOADED_DATE" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>
                                    <div class="fileDiv" (click)="downloadFile(item.id)">{{item.fileName}}</div>
                                </th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
                <p-accordionTab #tab3 header="{{'APP_HISTORY' | translate }}" style="text-decoration: none;">
                    <p-table #dt3 responsiveLayout="stack" selectionMode="single" [value]="historyInfo.history"
                        scrollHeight="flex" styleClass="p-datatable-responsive-demo p-datatable-gridlines" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{"APP_FIELD_NAME" | translate}}
                                </th>
                                <th>{{"APP_PREV_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CURRENT_VALUE" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_BY" | translate}}
                                </th>
                                <th>{{"APP_CHANGED_ON" | translate}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="det">
                                <th>{{item.fieldName}}</th>
                                <th>{{item.prevValue }} </th>
                                <th>{{item.currentValue }}</th>
                                <th>{{item.userName}}</th>
                                <th>{{item.createdDate | date: 'dd/MM/yy hh:mm'}}</th>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</p-sidebar>


<p-confirmDialog header="{{'APP_DELETE_CONFIRM_HDR' | translate}}" acceptLabel="{{'APP_OK' | translate}}"
    rejectLabel="{{'APP_CANCEL' | translate}}" icon="pi pi-exclamation-triangle"
    acceptButtonStyleClass="p-button-rounded p-button-danger" rejectButtonStyleClass="p-button-rounded">
</p-confirmDialog>

<p-overlayPanel #adFilter [style]="{width: '60%'}">
    <ng-template pTemplate>
        <div id="divCashExpRecFilter" *ngIf="!showTransFilter">
            <div class="p-fluid p-formgrid p-grid" style="text-align: start;" [dir]="lang === 'ar' ? 'rtl' : 'ltr'">
                <div class="p-field  p-col-6 p-md-3">
                    <label for="transFromDate">{{"APP_FROMDATE" | translate}}</label>
                    <p-calendar id="transFromDate" [(ngModel)]="cashForm.fromTransDate" dateFormat="dd-mm-yy"
                        [showIcon]="true" inputId="transFromDateInp" placeholder="{{ 'APP_FROMDATE' | translate}}">
                    </p-calendar>
                </div>
                <div class="p-field  p-col-6 p-md-3">
                    <label for="transToDate">{{"APP_TODATE" | translate}}</label>
                    <p-calendar id="transToDate" [(ngModel)]="cashForm.toTransDate" dateFormat="dd-mm-yy"
                        [showIcon]="true" inputId="transToDateInp" placeholder="{{ 'APP_TODATE' | translate}}">
                    </p-calendar>
                </div>
                <div class="p-field p-col-6 p-md-3">
                    <label for="processType">{{"CASHMGMT_PROCESS" | translate}}</label>
                    <p-multiSelect id="processType" [options]="processTypes" [(ngModel)]="cashForm.SelectProcessType "
                        optionLabel="description" optionValue="code" placeholder="{{ 'CASHMGMT_PROCESS' | translate}}">
                    </p-multiSelect>
                </div>

                <div class="p-field  p-col-6 p-md-3">

                    <label for="ledgerCode">{{"CASHMGMT_LEDGER" | translate}}</label>
                    <p-multiSelect id="ledgerCode" [filter]="true" filterBy="ledgerDescCode" [options]="ledgers"
                        placeholder="{{'CASHMGMT_LEDGER' | translate}}" [(ngModel)]="cashForm.SelectLedger  "
                        optionLabel="ledgerDescCode" optionValue="ledgerCode"></p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-3">
                    <label for="costCenter">{{"CASHMGMT_COSTCENTER" | translate}}</label>
                    <p-multiSelect id="costCenter" [options]="costCenters" [(ngModel)]="cashForm.SelectCostCenter "
                        optionLabel="codeDescription" optionValue="code"
                        placeholder="{{'CASHMGMT_COSTCENTER' | translate}}"></p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-3">
                    <label for="amount">{{"CASHMGMT_AMOUNT" | translate}}</label>
                    <p-inputNumber mode="decimal" [maxFractionDigits]="2" prefix="QAR " id="amount"
                        placeholder="{{ 'CASHMGMT_AMOUNT' | translate}}" [(ngModel)]="cashForm.amount"></p-inputNumber>
                </div>
                <div class="p-field  p-col-6 p-md-3">
                    <label for="recipient">{{"CASHMGMT_RECIPIENT" | translate}}</label>
                    <input pInputText id="recipient" [(ngModel)]="cashForm.recipient"
                        placeholder="{{ 'CASHMGMT_RECIPIENT' | translate}}">
                </div>
                <div class="p-field p-col-6 p-md-3">
                    <label for="referenceNo">{{"CASHMGMT_REFERENCE" | translate}}</label>
                    <input pInputText id="referenceNo" [(ngModel)]="cashForm.referenceNo"
                        placeholder="{{ 'CASHMGMT_REFERENCE' | translate}}">
                </div>
                <div class="p-field p-col-6 p-md-9">
                </div>
                <p-divider type="dashed" class="w-full"></p-divider>
                <div class="p-field p-col-6 p-md-2">
                    <button pButton pRipple label="{{'APP_SEARCH' | translate}}" icon="pi pi-search"
                        class="p-button-rounded p-button-success p-mr-2"
                        (click)="adFilter.hide();searchCashTransactions();"></button>
                </div>
                <div class="p-field p-col-6 p-md-2">
                    <button pButton pRipple label="{{'APP_CLEAR' | translate}}" icon="pi pi-times-circle"
                        class="p-button-rounded p-button-warning  p-mr-2" (click)="clearSearchCriteria()"></button>
                </div>
            </div>
        </div>
        <div id="divTrasnFilter" *ngIf="showTransFilter">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field  p-col-6 p-md-4">
                    <label for="fromOrg">{{"CASH_TRASNFER_FROMORG" | translate}}</label>
                    <p-multiSelect id="fromOrg" [options]="organization" optionLabel="name" optionValue="code"
                        [(ngModel)]="transferForm.SelectFromOrgId" placeholder="Select Organization">
                    </p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="fromAccount">{{"CASH_TRASNFER_FROMACCOUNT" | translate}}</label>
                    <p-multiSelect id="fromAccount" [options]="pettyAccount" optionLabel="name" optionValue="code"
                        [(ngModel)]="transferForm.SelectFromAccountId" placeholder="Select Account">
                    </p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="fromTeller">{{"CASH_TRASNFER_FROMTELLER" | translate}}</label>
                    <p-multiSelect id="fromTeller" [options]="teller" optionLabel="name" optionValue="code"
                        [(ngModel)]="transferForm.SelectFromTellerId" placeholder="Select Teller">
                    </p-multiSelect>
                </div>

                <div class="p-field  p-col-6 p-md-4">
                    <label for="toOrg">{{"CASH_TRASNFER_TOORG" | translate}}</label>
                    <p-multiSelect id="toOrg" [options]="organization" optionLabel="name" optionValue="code"
                        [(ngModel)]="transferForm.SelectToOrgId" placeholder="Select Organization">
                    </p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="toAccount">{{"CASH_TRASNFER_TOACCOUNT" | translate}}</label>
                    <p-multiSelect id="toAccount" [options]="pettyAccount" optionLabel="name" optionValue="code"
                        [(ngModel)]="transferForm.SelectToAccountId" placeholder="Select Account">
                    </p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="toTeller">{{"CASH_TRASNFER_TOTELLER" | translate}}</label>
                    <p-multiSelect id="toTeller" [options]="teller" optionLabel="name" optionValue="code"
                        [(ngModel)]="transferForm.SelectToTellerId" placeholder="Select Teller">
                    </p-multiSelect>
                </div>
                <div class="p-field  p-col-6 p-md-4">
                    <label for="fromTransDate">{{"CASH_TRANSFER_FROM_TRANS_DATE" | translate}}</label>
                    <p-calendar id="fromTransDate" [(ngModel)]="transferForm.fromTransDate" dateFormat="dd-mm-yy"
                        [showIcon]="true" inputId="fromTransDate"
                        placeholder="{{ 'CASH_TRANSFER_BALANCE_DATE' | translate}}"></p-calendar>
                </div>

                <div class="p-field  p-col-6 p-md-4">
                    <label for="toTransDate">{{"CASH_TRANSFER_TO_TRANS_DATE" | translate}}</label>
                    <p-calendar id="toTransDate" [(ngModel)]="transferForm.toTransDate" dateFormat="dd-mm-yy"
                        [showIcon]="true" inputId="toTransDate"
                        placeholder="{{ 'CASH_TRANSFER_BALANCE_DATE' | translate}}"></p-calendar>
                </div>
                <div class="p-field p-col-6 p-md-9">
                </div>
                <p-divider type="dashed" class="w-full"></p-divider>
                <div class="p-field p-col-6 p-md-2">
                    <button pButton pRipple label="{{'APP_SEARCH' | translate}}" icon="pi pi-search"
                        class="p-button-rounded p-button-success p-mr-2"
                        (click)="adFilter.hide();getPettyTransactionList();"></button>
                </div>
                <div class="p-field p-col-6 p-md-2">
                    <button pButton pRipple label="{{'APP_CLEAR' | translate}}" icon="pi pi-times-circle"
                        class="p-button-rounded p-button-warning  p-mr-2" (click)="clearBalanceCriteria()"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #accBalance [style]="{width: '60%'}">
    <ng-template pTemplate>
        <div style="height: 70vh;">
            <p-table #acBal responsiveLayout="stack" selectionMode="single" [value]="accountBalances"
                [scrollable]="true" scrollHeight="flex" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="accountName">{{"CASHMGMT_CASH_ACC" | translate}}<p-sortIcon
                                field="accountName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="openingBalance">
                            <div style="text-align: right; width: 100%">{{"APP_OPEN" | translate}}</div>
                            <p-sortIcon field="openingBalance"></p-sortIcon>
                        </th>
                        <th pSortableColumn="credit">
                            <div style="text-align: right; width: 100%">{{"APP_CREDIT" | translate}}</div>
                            <p-sortIcon field="credit"></p-sortIcon>
                        </th>
                        <th pSortableColumn="debit">
                            <div style="text-align: right; width: 100%">{{"APP_DEBIT" | translate}}</div>
                            <p-sortIcon field="debit"></p-sortIcon>
                        </th>
                        <th pSortableColumn="closingBalance">
                            <div style="text-align: right; width: 100%">{{"APP_CLOSE" | translate}}</div>
                            <p-sortIcon field="closingBalance"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td>{{item.accountName}}</td>
                        <td>
                            <div style="text-align: right; width: 100%">{{item.openingBalance | currency:'
                                ':'symbol':'0.0-0'}}</div>
                        </td>
                        <td>
                            <div style="text-align: right; width: 100%">{{item.credit | currency:' ':'symbol':'0.0-0'}}
                            </div>
                        </td>
                        <td>
                            <div style="text-align: right; width: 100%">{{item.debit | currency:' ':'symbol':'0.0-0'}}
                            </div>
                        </td>
                        <td>
                            <div style="text-align: right; width: 100%">{{item.closingBalance | currency:'
                                ':'symbol':'0.0-0'}}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-template>
</p-overlayPanel>
<!--  -->
<p-overlayPanel #transferPanel [style]="{width: '60%'}">
    <ng-template pTemplate>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-6 p-md-4">
                <label for="fromOrg">{{"CASH_TRASNFER_FROMORG" | translate}}</label>
                <p-dropdown id="fromOrg" [options]="organization" [showClear]="true" optionLabel="name"
                    [(ngModel)]="transferForm.fromOrg" placeholder="Select From Org">
                </p-dropdown>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="fromAccount">{{"CASH_TRASNFER_FROMACCOUNT" | translate}}</label>
                <p-dropdown id="fromAccount" [options]="pettyAccount" [showClear]="true" optionLabel="name"
                    [(ngModel)]="transferForm.fromAccount" placeholder="Select From Account">
                </p-dropdown>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="fromTeller">{{"CASH_TRASNFER_FROMTELLER" | translate}}</label>
                <p-dropdown id="fromTeller" [options]="teller" optionLabel="name" [(ngModel)]="transferForm.fromTeller"
                    placeholder="Select From Teller">
                </p-dropdown>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="toOrg">{{"CASH_TRASNFER_TOORG" | translate}}</label>
                <p-dropdown id="toOrg" [options]="organization" optionLabel="name" [(ngModel)]="transferForm.toOrg"
                    placeholder="Select To Org">
                </p-dropdown>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="toAccount">{{"CASH_TRASNFER_TOACCOUNT" | translate}}</label>
                <p-dropdown id="toAccount" [options]="pettyAccount" optionLabel="name"
                    [(ngModel)]="transferForm.toAccount" placeholder="Select To Account">
                </p-dropdown>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="toTeller">{{"CASH_TRASNFER_TOTELLER" | translate}}</label>
                <p-dropdown id="toTeller" [options]="teller" optionLabel="name" [(ngModel)]="transferForm.toTeller"
                    placeholder="Select To Teller">
                </p-dropdown>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="fromTransDate">{{"CASH_TRANSFER_FROM_TRANS_DATE" | translate}}</label>
                <p-calendar id="fromTransDate" [(ngModel)]="transferForm.fromTransDate" dateFormat="dd-mm-yy"
                    [showIcon]="true" inputId="fromTransDate"
                    placeholder="{{ 'CASH_TRANSFER_FROM_TRANS_DATE' | translate}}"></p-calendar>
            </div>
            <div class="p-field  p-col-6 p-md-4">
                <label for="toTransDate">{{"CASH_TRANSFER_TO_TRANS_DATE" | translate}}</label>
                <p-calendar id="toTransDate" [(ngModel)]="transferForm.toTransDate" dateFormat="dd-mm-yy"
                    [showIcon]="true" inputId="toTransDate"
                    placeholder="{{ 'CASH_TRANSFER_TO_TRANS_DATE' | translate}}"></p-calendar>
            </div>
            <div class="p-field p-col-6 p-md-9">
            </div>
            <p-divider type="dashed" class="w-full"></p-divider>
            <div class="p-field p-col-6 p-md-2">
                <button pButton pRipple label="{{'APP_SEARCH' | translate}}" icon="pi pi-search"
                    class="p-button-rounded p-button-success p-mr-2"
                    (click)="transferPanel.hide();searchCashTransfer();"></button>
            </div>
            <div class="p-field p-col-6 p-md-2">
                <button pButton pRipple label="{{'APP_CLEAR' | translate}}" icon="pi pi-times-circle"
                    class="p-button-rounded p-button-warning  p-mr-2" (click)="clearTransferBalanceCriteria()"></button>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>