.p-tabview .p-tabview-left-icon{
    padding-right: 5%;
    padding-left: 5%;
}

.p-calendar-w-btn .p-datepicker-trigger{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.p-sidebar-right {
    top: 0;
    right: 0;
    width: 50rem !important;
    height: 100%;
}
.fileDiv{
    text-decoration: underline; 
    color:#00659d;
    cursor: pointer;
}